<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        .add_timeCount{margin-left: 10px;font-size:12px;font-weight: normal;color:#999;}
    </style>
</head>
<body style="margin:0;">
<div style="background-color:#ededed;padding:30px 0;">
    <div style="width:720px;background:#ffffff;margin:0 auto;padding:0px 40px 40px; ">
        <table width="100%" cellpadding="0" cellspacing="0">
<tr>
    <td width="20"></td>
    <td height="40"></td>
    <td width="20"></td>
</tr>

<tr>
<td></td>
<td>
<table width="650">
    <tr>
        <td valign="top"><span style="font-family:MicroSoft YaHei;font-size: 26px;">王登程</span><span
                style="font-family:MicroSoft YaHei;font-size: 18px;color:#999999">（男，26）</span></td>
        <td rowspan="3" width="80"><img width="80" height="80" id="resume-photo"
                                        src={{static_url("img/avatar.png")}}>
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:12px;color:#666666;">
            东华大学
             · 控制科学与工程
         · 硕士研究生
             · 现居上海
         · 1周内到岗
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:12px;color:#666666;">手机：13262790790</td>
    </tr>
    <tr>
        <td valign="top" style="font-size:12px;color:#666666;">邮箱：2131121@mail.dhu.edu.cn</td>
    </tr>
</table><br/>
<table width="650" cellpadding="0" cellspacing="0">
<tr>
    <td width="100" height="10"></td>
    <td></td>
</tr>
<tr>
    <td style="font-family:MicroSoft YaHei;font-size: 18px;">教育经历</td>
    <td><img src="http://assets.dajieimg.com/up/resume/images/tit.gif" alt=""></td>
</tr>
<tr>
    <td height="10"></td>
    <td></td>
</tr>
    <tr>
        <td style="color:#999999;font-size:12px;" valign="top"
            width="75">2013-9 
            至 2016-3</td>
        <td style="font-size:12px;color:#808080;border-bottom: 1px solid #F2F2F2;"
            valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>控制科学与工程
                        &nbsp;&nbsp;东华大学</strong></td>
                </tr>
                <tr>
                    <td height="20" style="font-size:12px;color:#808080;">
                    硕士研究生 硕士


                    </td>
                </tr>
                    <tr>
                        <td height="20" style="font-size:12px;color:#808080;line-height:1.5">本专业培养掌握自动控制原理、信息处理、计算机检测与控制、工业网络、电力电子等专业知识，能从事与电子电气工程相关的系统与装置的硬件与软件设计、研制开发等工作的宽口径的复合型高级工程技术人才。<br />【研究方向】是图像处理。另外自己空余时间构建了微信公众平台，在这期间研究了web.py，前后端分离，RESTful API，Python Web 框架。</td>
                    </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
        <tr>
            <td height="10"></td>
        </tr>
    <tr>
        <td style="color:#999999;font-size:12px;" valign="top"
            width="75">2009-9 
            至 2013-6</td>
        <td style="font-size:12px;color:#808080;border-bottom: 0px solid #F2F2F2;"
            valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>自动化学院
                        &nbsp;&nbsp;南京工程学院</strong></td>
                </tr>
                <tr>
                    <td height="20" style="font-size:12px;color:#808080;">
                    本科 学士


                    </td>
                </tr>
                    <tr>
                        <td height="20" style="font-size:12px;color:#808080;line-height:1.5">本专业培养具有电工电子技术、控制理论、自动检测与信息处理技术、系统工程、计算机技术与应用等专业知识和工程素质，从事工业自动化系统分析、设计、运行、开发的高级应用型工程技术人才。 主干课程：【电路原理、模拟电子技术、数字电子技术】、【自动控制原理、现代控制原理、智能控制原理】、【微机原理及应用、检测与自动化仪表、运动控制系统】。 <br />【毕业设计】是基于单片机的解码红外信号控制风扇转速的嵌入式系统。</td>
                    </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>

<tr>
    <td style="font-family:MicroSoft YaHei;font-size: 18px;">IT技能</td>
    <td><img src="http://assets.dajieimg.com/up/resume/images/tit.gif" alt=""></td>
</tr>
<tr>
    <td height="10"></td>
    <td></td>
</tr>
    <tr>
        <td valign="top" width="75"></td>
        <td style="font-size:12px;color:#808080;border-bottom:1px solid #F2F2F2;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>精通的技能</strong></td>
                </tr>
                <tr>
                    <td height="20" style="font-size:12px;color:#808080;">
                            通用编程{C/Python} 
后端{python on tornado/flask/web.py} 
科研{Matlab/MS_Office}
视频制作{After Effect/Premier Pro/Sony Vegas/Photoshop}&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td valign="top" width="75"></td>
        <td style="font-size:12px;color:#808080;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>熟悉的技能</strong></td>
                </tr>
                <tr>
                    <td height="20" style="font-size:12px;color:#808080;">
                            Linux&nbsp;&nbsp;
                            AutoCAD&nbsp;&nbsp;
                            Pro/E&nbsp;&nbsp;
                            前端{HTML5/CSS/JavaScript}
并行计算{CUDA C/pyCUDA}&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
<tr>
    <td style="font-family:MicroSoft YaHei;font-size: 18px;">实习经历</td>
    <td><img src="http://assets.dajieimg.com/up/resume/images/tit.gif" alt=""></td>
</tr>
<tr>
    <td height="10"></td>
    <td></td>
</tr>
    <tr>
        <td style="color:#999999;font-size:12px;" valign="top" width="75">
            2015-3 至 2015-9
        </td>
        <td style="font-size:12px;color:#808080;border-bottom:1px solid #F2F2F2;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>python软件开发工程师&nbsp;&nbsp;上海匡泰信息科技有限公司
                        （IT行业行业）
                    </strong></td>
                </tr>
                    <tr>
                        <td height="20" style="font-size:12px;color:#808080;">
                            所在部门：软件部
                             丨 汇报对象：Eric Chen
                            
                             丨 薪水：4400 RMB/月
                        </td>
                    </tr>
                    <tr>
                        <td height="20" style="font-size:12px;color:#808080;line-height:1.5"></td>
                    </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
        <tr><td height="10"></td></tr>
    <tr>
        <td style="color:#999999;font-size:12px;" valign="top" width="75">
            2014-10 至 2015-3
        </td>
        <td style="font-size:12px;color:#808080;border-bottom:0px solid #F2F2F2;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>IT Intern&nbsp;&nbsp;安谋咨询（上海）有限公司
                        （IT行业行业）
                    </strong></td>
                </tr>
                    <tr>
                        <td height="20" style="font-size:12px;color:#808080;">
                            所在部门：IT
                             丨 汇报对象：Jeremy Guo
                            
                             丨 薪水：4000 RMB/月
                        </td>
                    </tr>
                    <tr>
                        <td height="20" style="font-size:12px;color:#808080;line-height:1.5">独立编写若干python程序用以提取若干excel文档目标内容，同时POST到ARM的ITDB(基于Web的办公环境IT资产设备管理信息系统)自动化完成信息录入工作。 并且将该项目托管于github，持续改进该工具使之成为没有原生数据库数据导入工具的数据库数据管理替代工具。</td>
                    </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
<tr>
    <td style="font-family:MicroSoft YaHei;font-size: 18px;">语言能力</td>
    <td><img src="http://assets.dajieimg.com/up/resume/images/tit.gif" alt=""></td>
</tr>
<tr>
    <td height="10"></td>
    <td></td>
</tr>
    <tr>
        <td valign="top" width="75"></td>
        <td style="font-size:12px;color:#808080;border-bottom:1px solid #F2F2F2;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>英语
                    </strong></td>
                </tr>
                <tr>
                    <td height="20" style="font-size:12px;color:#808080;">
                        听说：良好&nbsp;&nbsp;
                        读写：良好&nbsp;&nbsp;
                                    大学英语考试六级                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td height="10"></td></tr>
    <tr>
        <td valign="top" width="75"></td>
        <td style="font-size:12px;color:#808080;border-bottom:0px solid #F2F2F2;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>英语
                    </strong></td>
                </tr>
                <tr>
                    <td height="20" style="font-size:12px;color:#808080;">
                        听说：良好&nbsp;&nbsp;
                        读写：良好&nbsp;&nbsp;
                                    大学英语考试四级                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
<tr>
    <td style="font-family:MicroSoft YaHei;font-size: 18px;">培训经历</td>
    <td><img src="http://assets.dajieimg.com/up/resume/images/tit.gif" alt=""></td>
</tr>
<tr>
    <td height="10"></td>
    <td></td>
</tr>
    <tr>
        <td style="color:#999999;font-size:12px;" valign="top" width="75">
        2015-4 至 
            今
        </td>
        <td style="font-size:12px;color:#808080;border-bottom:1px solid #F2F2F2;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>计算机程序设计员（嵌入式应用-ARM）
                        &nbsp;&nbsp;上海网信职业技术培训中心</strong></td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
        <tr>
            <td height="10"></td>
        </tr>
    <tr>
        <td style="color:#999999;font-size:12px;" valign="top" width="75">
        2011-3 至 2011-7
        </td>
        <td style="font-size:12px;color:#808080;border-bottom:1px solid #F2F2F2;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>国家制造业信息化 三维CAD（A1类）认证培训课程
                        &nbsp;&nbsp;国家制造业信息化培训中心</strong></td>
                </tr>
                    <tr>
                        <td height="20" style="font-size:12px;color:#808080;">
王登程 按照《国家制造业信息化认证培训课程-三维数字化技术与考核大纲》的要求，完成了国家制造业信息化 三维CAD（A1类）认证培训课程，通过了认证考核，授予三维CAD应用工程师。证书编号：JN053201200318，认证课程：UG                        </td>
                    </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
        <tr>
            <td height="10"></td>
        </tr>
    <tr>
        <td style="color:#999999;font-size:12px;" valign="top" width="75">
        2010-12 至 2011-3
        </td>
        <td style="font-size:12px;color:#808080;border-bottom:0px solid #F2F2F2;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#58667B;"><strong>国家制造业信息化 三维CAD（A1类）认证培训课程
                        &nbsp;&nbsp;国家制造业信息化</strong></td>
                </tr>
                    <tr>
                        <td height="20" style="font-size:12px;color:#808080;">
王登程 按照《国家制造业信息化认证培训课程-三维数字化技术与考核大纲》的要求，完成了国家制造业信息化 三维CAD（A1类）认证培训课程，通过了认证考核，授予三维CAD应用工程师。证书编号：JN033201200235，认证课程：PRO/Engineer                        </td>
                    </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-family:MicroSoft YaHei;font-size: 18px;">证书</td>
        <td><img src="http://assets.dajieimg.com/up/resume/images/tit.gif" alt=""></td>
    </tr>
    <tr>
        <td height="10"></td>
        <td></td>
    </tr>
    <tr>
        <td valign="top" width="75"></td>
        <td style="font-size:12px;color:#808080;" valign="top">
            <table>
                <tr>
                    <td height="20" style="font-size:12px;color:#808080;">
                            驾驶证&nbsp;&nbsp;
                            大学英语四级&nbsp;&nbsp;
                            大学英语六级&nbsp;&nbsp;
                            计算机二级证&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td style="font-family:MicroSoft YaHei;font-size: 18px;">校内奖励</td>
        <td><img src="http://assets.dajieimg.com/up/resume/images/tit.gif" alt=""></td>
    </tr>
    <tr>
        <td height="10"></td>
        <td></td>
    </tr>
        <tr>
            <td style="color:#999999;font-size:12px;" valign="top" width="75">
                2015-5
            </td>
            <td style="font-size:12px;color:#808080;border-bottom:1px solid #F2F2F2;" valign="top">
                <table>
                    <tr>
                        <td height="20" style="font-size:12px;color:#58667B;"><strong>学生会先进工作者
                            &nbsp;&nbsp;东华大学</strong></td>
                    </tr>
                        <tr>
                            <td height="20" style="font-size:12px;color:#808080;">
奖励在学生会内工作突出的成员                            </td>
                        </tr>
                    <tr>
                        <td height="10"></td>
                    </tr>
                </table>
            </td>
        </tr>
            <tr>
                <td height="10"></td>
            </tr>
        <tr>
            <td style="color:#999999;font-size:12px;" valign="top" width="75">
                2013-6
            </td>
            <td style="font-size:12px;color:#808080;border-bottom:0px solid #F2F2F2;" valign="top">
                <table>
                    <tr>
                        <td height="20" style="font-size:12px;color:#58667B;"><strong>优秀毕业设计
                            &nbsp;&nbsp;南京工程学院</strong></td>
                    </tr>
                        <tr>
                            <td height="20" style="font-size:12px;color:#808080;">
基于单片机的红外遥控风扇调速器                            </td>
                        </tr>
                    <tr>
                        <td height="10"></td>
                    </tr>
                </table>
            </td>
        </tr>
    <tr>
        <td style="font-family:MicroSoft YaHei;font-size: 18px;">校内职务</td>
        <td><img src="http://assets.dajieimg.com/up/resume/images/tit.gif" alt=""></td>
    </tr>
    <tr>
        <td height="10"></td>
        <td></td>
    </tr>
        <tr>
            <td style="color:#999999;font-size:12px;" valign="top" width="75">
            2014-3 至 
                今
            </td>
            <td style="font-size:12px;color:#808080;border-bottom:1px solid #F2F2F2;" valign="top">
                <table>
                    <tr>
                        <td height="20" style="font-size:12px;color:#58667B;"><strong>数字模拟电路助教
                            &nbsp;&nbsp;东华大学</strong></td>
                    </tr>
                        <tr>
                            <td height="20" style="font-size:12px;color:#808080;">
帮助教师批改作业并反馈学生作业完成状况和知识点掌握程度                            </td>
                        </tr>
                    <tr>
                        <td height="10"></td>
                    </tr>
                </table>
            </td>
        </tr>
            <tr>
                <td height="10"></td>
            </tr>
        <tr>
            <td style="color:#999999;font-size:12px;" valign="top" width="75">
            2014-5 至 2015-5
            </td>
            <td style="font-size:12px;color:#808080;border-bottom:0px solid #F2F2F2;" valign="top">
                <table>
                    <tr>
                        <td height="20" style="font-size:12px;color:#58667B;"><strong>东华大学研究生会新闻传媒副部长
                            &nbsp;&nbsp;东华大学</strong></td>
                    </tr>
                        <tr>
                            <td height="20" style="font-size:12px;color:#808080;">
策划了《经纬韵科技文化节》视频制作，并单独完成4个节目所需视频。《东华大学研究生会成立30周年》若干视频，《十大歌手——研究生组》参赛选手介绍，《研究生学生会宣传视频》等若干视频                            </td>
                        </tr>
                    <tr>
                        <td height="10"></td>
                    </tr>
                </table>
            </td>
        </tr>
<tr>
    <td height="10"></td>
</tr>

</table>
</td>
<td></td>
</tr>

<tr>
    <td bgcolor="#F9F9F9"></td>
    <td bgcolor="#F9F9F9">
        <table width="650">
            <tr>
                <td height="20"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="font-family:MicroSoft YaHei;font-size: 18px;" width="100" >基本信息</td>
                <td bgcolor="#F9F9F9" width="255"></td>
                <td bgcolor="#F9F9F9"></td>
            </tr>
            <tr>
                <td height="10" bgcolor="#F9F9F9"></td>
                <td bgcolor="#F9F9F9"></td>
                <td bgcolor="#F9F9F9"></td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size:12px;color:#808080;">
                                    <p>户口：扬州</p>
                <p>身高：190cm</p>
                <p>体重：80kg</p>
                    <p>ＱＱ：630572808</p>
                </td>
                <td style="font-size:12px;color:#808080;">
                <p>民　　族：汉族</p>
                </td>
            </tr>
            <tr>
                <td height="30"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </td>
    <td bgcolor="#F9F9F9"></td>
</tr></table>
</div>
</div>
</body>
</html>